{% extends "layout.html"%}

{% block inner_nav %}
<ul class="nav navbar-nav">
    <li><a href="/">Multi</a></li>
</ul>
{% endblock %}

{% block inner_content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert alert-danger" role="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    {% for message in messages %}
    <h4>{{ message }}</h4>
    {% endfor %}
    {% endif %}
</div>
{% endwith %}

<div class="panel panel-default mail_form">
    <div class="panel-body">
    認証を受け付けました。<br>入力されたemailアドレスに登録用のURLを添付して送っているので、リンク先に接続してください。<br>なお、このリンク先に接続があるまでメールでの通知は行いません。
    </div>
</div>
{% endblock %}
