{% extends "layout.html" %}

{% block inner_content %}
{{current_user.userid}}

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert alert-success" role="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    {% for message in messages %}
    <h4>{{ message }}</h4>
    {% endfor %}
    {% endif %}
</div>
{% endwith %}
<form action="/proposal" method="POST" style="padding: 20px">
    <textarea placeholder="ここに入力してください" name="string" rows="4" cols="40"></textarea>
    <br>
    <button type="submit" value="送信">送信</button>
</form>

{% endblock %}
